[tool.ruff]
line-length = 120
indent-width = 4
exclude = ["build", "dist", ".venv"]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
ignore = ["E203", "E501", "B008", "C901", "W191", "B904"]

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"
